@media all and (max-width: 768px) {
    * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 7%;
}

header {
  background-image: linear-gradient(
      rgba(6, 110, 23, 0.7),
      rgba(209, 21, 14, 0.5)
    ),
    url("../images/Bangladesh-Map.png");
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
}

nav {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
}

nav .logo {
  width: 100%;
  text-align: center;
  /* background: linear-gradient(to right, #107c0e, #d03625);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
}

.logo h2 a {
  text-decoration: none;
  color: #fff;
}

nav .menu {
  width: 100%;
  text-align: center;
  padding: 10px;
}

nav .menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .menu li {
  width: 25%;
}

nav .menu a {
  text-decoration: none;
  color: #fff;
  font-size:12px;
  letter-spacing: 1px;
}

nav .menu ul li:first-child a {
  color: rgba(3, 3, 3, 0.7);
  font-weight: 700;
}

main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

section {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  text-transform: capitalize;
}

section a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 15px 0px;
  padding: 8px 10px;
  border: 2px solid #fff;
  border-radius: 8px;
}

}